*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.trivia {
  width: 100vw;
  height: 100vh;
  font-size: 6vw;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.btn {
  cursor: pointer;
  margin: 2vw;
  font-size: 5vw;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 2vw;
}

.quiz {
  width: 100vw;
  
  padding: 1vw;
  margin: 0vw;
  font-size: 6vw;
  font-family: 'Inter', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pregunta {
  font-weight: 600;
  margin: 2vw;
  color: #293264;
}

.incorrecto {
  font-size: 5vw;
  margin: 2vw;
  padding: 1vw;
  color: #FF7987;
  border-radius: 2vw;
}

.opcion {
  font-size: 4vw;
  margin: 2vw;
  padding: 1vw;
  color: #293264;
  border: 1px solid #293264;
  border-radius: 2vw;
}

.tu_res{
  font-size: 4vw;
  margin: 2vw;
  padding: 1vw;
  color: #293264;
  border: 1px solid #293264;
  border-radius: 2vw;
  background-color: #F8BCBC;
}

.la_cor{
  font-size: 4vw;
  margin: 2vw;
  padding: 1vw;
  color: #293264;
  border: 1px solid #293264;
  border-radius: 2vw;
  background-color: #94D7A2;
}

.bien{
  font-size: 6vw;
  font-weight: 600;
  margin: 2vw;
  padding: 1vw;
  color: #77dd77;
  
  border-radius: 2vw;
}

.selec {
  margin: 4vw;
  font-size: 6vw;
  width: 50vw;
}

